<%- include('./partials/header.ejs'); %>

    <div class="manageUser-container">
      <div id="title">
        <h2>Manage Users</h2>
      </div>

      <div class="new-message-container new-user">
        <a href="#" onclick="openModal()">+</a>
      </div>

      <div id="users-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody id="users-table">
            <% users.forEach(function(user) { %>
            <tr id="<%= user.id %>">
              <td class="name">
                <% if(user.avatar) { %>
                <img src="../public/uploads/avatars/<%= user.avatar %>" />
                <% } else { %>
                  <img src="../public/images/nophoto.png" />
                  <% } %>
                <span><%= user.name %></span>
              </td>
              <td><%= user.email %></td>
              <td class="manage">
                <img src="./images/trash.png" alt="Delete" onclick="deleteUser('<%= user.id %>')" />
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <%- include('./partials/add-user-modal.ejs'); %>

    <script>

      const deleteToast = Toastify({
        text: "User deleted successfully",
        duration: 3000,
      });

      const deleteErrorToast = Toastify({
        text: "Error when deleting the user",
        duration: 3000,
      });

      // delete user
      async function deleteUser(userId) {
        
        let response = await fetch(`/users/${userId}`, {
          method: 'DELETE',
          
        });
        console.log(response);

        let result = await response.json();

        console.log(result);

        if (result.error) {
          deleteErrorToast.showToast();
        } else {
          document.getElementById(userId).remove();
          deleteToast.showToast();
          
        }
      }
    </script>
  </body>
</html>
